*.iml
.gradle/
.idea/
workspace.xml
tasks.xml
local.properties


build/
app/build/
release/
app/release/
/captures/
.externalNativeBuild/
.cxx/
/out/
*.class
*.dex


*.jks
*.keystore
*.p12
*.key
*.pem
google-services.json
crashlytics-build.properties


*.apk
*.apks
*.apkm
*.xapk
*.aab


.DS_Store
Thumbs.db
